*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    
}

html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    width: 100%;
    margin: auto;
    
}

html,
body {
    height: 100vh;
    font-family: "Montserrat";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
   
}
header {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


header .voltar-tela a.link {
    display: flex;
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}

header .voltar-tela a.link:hover {
    color: rgb(235, 45, 45)
}

.img-increase{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70vh;
    width: 100vw;
    z-index: -1000;
   
}
div.img-fundo {
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
}

header .voltar-tela a.link {
    display: flex;
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}
.img{
    width:70px;
    color: black;
}



section.content {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0);
}
footer {
    background-color:rgb(8, 87, 235);
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    margin-top: 25px;
    left: 0;
    right: 0;
}
section.content h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

section.content h1 img {
    margin-right: 30px;
}
section.content .texts {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    margin-left: 60px;
}
section.content .img {
    margin-top: 5%;
    width: 100%;
    

}
section.content .botao a {
  
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 20px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        margin-left: 10px;
        display: inline;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-left: 0px;
        margin-bottom: 20px;
        
        
    
}



section.content {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(155, 155, 155);
}

section.content .botao .proximo:hover {
    background-color: rgb(14, 102, 218)
}
@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1000px) {
    section.content {
        padding: 50px 50px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header .brand img {
        width: 50px;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
    header .brand {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px
    }
    header .brand .title {
        text-align: center;
        margin: 20px 0 0 0;
    }
}

    

@media (max-width: 360px) {
    html {
        font-size: 45%;
    }
    div.img-fundo{
        height: 100vh;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
    section.content .texts {
        margin-top: 20px;
        display: flex;
        align-items: center;
        text-align: justify;
        font-size: 10px;
        margin-left: 60px;
    }
    section.content .img {
            margin-left: -100px;
            align-items: center;
           
            
        
        
    
    }
    section.content .botao a {
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 10px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-bottom: 10px;
        
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
 
div.img-fundo {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  
}
}