
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    
}

html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    width: 100%;
    margin: auto;
    
}

html,
body {
    height: 100vh;
    font-family: "Montserrat";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
   
}
.init-back {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70vh;
    width: 100vw;
    z-index: -1000;
   
}
div.blue-background {
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-blue);
    z-index: -10000;
}
header .brand {
    display: flex;
    align-items: center;
}


html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
    border-radius: 10px 10px 10px 10px;
}

html::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px 10px 10px 10px;
}
.navbar-brand{
  font-size: 100%;
  font-family: Impact, fantasy;

}

footer {
    
    background-color:rgb(8, 87, 235);
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    margin-top: 25px;
    left: 0;
    right: 0;
}
section.initial .container .apresentation-image img {
    
    width: 450px;
}

section.explications {
  
    width: 90%;
    max-width: 980px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    
}
section.explications h1{
    font-family: Impact, fantasy;
    font-size: 40px;
    color:rgb(0, 0, 0);
}

section.explications .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    text-align: center;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}

section.explications .card-trail {
    background-image: url(/img/0432.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

section.explications .card-blocks {
    background-image: url(/img/,432.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

section.explications .card:hover {
    transform: translateY(-7px);
}

section.explications .image {
    width: 100%;
    padding-top: 56.25%;
    margin: 20px;
    overflow: hidden;
    position: relative;
}

section.explications .image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


section.explications  button{
    background-color:rgb(8, 87, 235);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    color: white;
    text-align: center center;
    box-shadow: 1px 1px 4px 1px rgb(155, 155, 155);
    transition: 0.5s;
    font-size: 15px;
}
section.explications  .button :hover {
    background-color: var(--main-blue-hover);
}



section.who-do {
    display: flex;
    width: 90%;
    max-width: 980px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}

section.who-do .logos {
    display: flex;
}

section.who-do .logos img {
    max-height: 150px;
}

section.who-do .logos .logo-super {
    margin: 0 30px 0 30px
}
section.who-do {
    display: flex;
    width: 90%;
    max-width: 980px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}

section.who-do .logos {
    display: flex;
    
}

section.who-do .logos img {
    max-height: 100px;
}

section.who-do .logos .logo-super {
    margin: 0 30px 0 30px
}
section.who-do .text {
    margin-top: 16px;
    display: inline-table;
    
}

@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
    section.initial .container .apresentation-image img {
        width: 300px;
    }
    section.initial .container .button-blocks {
        padding: 17px;
    }
    section.initial .container .button-trail {
        padding: 17px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header .brand img {
        width: 50px;
    }
    section.initial .container {
        flex-direction: column;
        text-align: center;
    }
    section.initial .container .buttons {
        justify-content: center;
    }
    section.initial .container .apresentation-image {
        order: -1;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 45%;
    }
    .init-back {
        display: none;
    }
  
    section.initial .container .apresentation-image img {
        width: 300px;
    }
    header {
        justify-content: center;
        margin-top: 25px;
    }
   
    section.who-do {
        flex-direction: column;
        text-align: center;
        margin: 20px 0px 0px 20px
    }
    section.who-do .logos .logo-super {
        margin: 0 0 0 0
    }
    section.who-do .logos img {
        margin: 5px 10px 5px 10px;
        max-height: 120px;
        align-items: center;
        
    }
    section.who-do .logos img p{
        margin-top: 50px;
    }
   header {
    
    margin-top: -18px;
    flex-direction: column-reverse;
    background-color: rgb(8, 87, 235);
    height: 90px;
    
   
}
header .title2{
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
}



.title2 {
    font-size: 35px;
    margin-left: 80px;
   margin-top: 15px;
   height: 40px;
   color: white;
  font-family: Times, Times New Roman, serif;
  
  
}
   
   
    
}

@media (max-width: 320px) {
    section.initial .container .apresentation-image img {
        width: 250px;
    }
    div.blue-background {
        height: 100%;
        height: 400px;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
      
    }
    .init-back {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70vh;
        width: 100vw;
        z-index: -1000;
    }
    .title2 {
        font-size: 35px;
        margin-left: 80px;
       margin-top: 15px;
       height: 40px;
       color: white;
      font-family: Times, Times New Roman, serif;
      
      
   }
  
}

@media (max-width: 731px) and (max-height: 411px) {
    .init-back {
        display: none;
    }

    section.initial .container .apresentation-image img {
        width: 300px;
    }
  
}
 .title2 {
     font-size: 35px;
     margin-left: 80px;
    margin-top: 15px;
    height: 40px;
    color: white;
   font-family: Times, Times New Roman, serif;
   
   
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown button{
    border:none;
    transition: 0s;
}
.dropdown button:hover{
    background-color:  rgb(26, 143, 221);
}
.dropdown div{
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    opacity: 0s;
}
.dropdown:hover div{
    visibility: visible;
    opacity: 0s;

}
.dropdown div a{
    display: block;
    text-decoration:none ;
    padding: 8px;
    color: rgb(26, 143, 221);
    transition: 0s;


}
.dropdown div a:hover{
    background-color: blue;
    color: rgb(26, 143, 221);
}
