* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

html {
    font-size: 65.5%;
    position: relative;
    overflow-x: hidden;
    background-color: #ffffff;
}

body {
    font-size: 1.6rem;
    width: 90%;
    margin: auto;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.img-increase{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70vh;
    width: 100vw;
    z-index: -1000;
   
}
html::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
}

div.img-fundo {
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
}


section.content .text {
    display: flex;
    justify-content: center;
}
section.content .botâo {
    display: flex;
    margin-left: 850px;  
}

section.content .botâo a {
    background-image: url(img/5.jpg);
    background-color: blue;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 40px;
}

section.content .botâo .proximo:hover {
    background-color: rgb(14, 102, 218)
}


footer {
    
    background-color:rgb(8, 87, 235);
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    margin-top: 25px;
    left: 0;
    right: 0;
}

header {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


header .menu a.link {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    display: flex;
    margin-left: 20px;
    
}

header .menu a.link:hover {
    color: rgb(235, 45, 193)
}

section.content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px
}

section.content .controle {
    display: flex;
  
    justify-content: center;
}
section.content .list{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    
}
section.content .list li a{
    color: black;
    font-size: 20px;
    cursor: pointer;
}
section.content .list ul{
    color: black;
    font-size: 20px;
    cursor: pointer;
}
section.content .controle a {
    background-color: var(--main-blue);
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgb(104, 104, 104);
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 40px;
}

section.content .controle a img {
    margin-right: 10px;
}

section.content .controle .continue:hover {
    background-color: var(--main-blue-hover);
}

section.content {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0);
}

section.content h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

section.content h1 img {
    margin-right: 30px;
}

section.content ul {
    font-size: 2.0rem;
    margin-left: 90px;
    color: rgb(76, 175, 221);
    list-style: none;
    line-height: 40px;
}

.hide {
    display: none;
}

section.content ul a:hover {
    color: rgb(18, 138, 168);
    font-weight: 600;
    cursor: pointer;
}

section.content .summary-title {
    font-weight: 600;
    cursor: pointer;
    color: rgb(10, 69, 109);
}

section.content .summary-title:hover {
    color: rgb(18, 102, 136);
    font-weight: 600;
    cursor: pointer;
}

section.content li a {
    color: rgb(17, 0, 255);
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;

}


@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
 
div.img-fundo {
    height: 100%;
    height: 400px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  
}
}


@media (max-width: 768px) {
    html {
        font-size: 50%;

    }
    header .brand img {
        width: 50px;
    }
    header {
        justify-content: center;
        margin-top: 25px;
        flex-direction: column-reverse;
    }
    header .brand {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px
    }
    header .brand .title {
        text-align: center;
        margin: 20px 0 0 0;
    }
    section.content h1 {
        display: flex;
        justify-content: center;
    }
    section.content ul {
        margin-left: 0px;
        text-align: center;
    }
    section.content .summary-title:hover {
        color: black;
    }
    section.content .botâo {
        display: flex;
        margin-left: 100px;  
    }
    
    section.content .botâo a {
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 20px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 45%;
    }
    div.img-fundo{
        height: 70vh;
    }
    section.content {
        flex-direction: column;
        margin-top: 15px;
    }
    section.content .controle a {
        justify-content: center;
    }
    section.content .back {
        margin: 10px 0 10px 0;
    }
    section.content h1 img {
        width: 55px;
    }
    section.content {
        padding: 25px 25px;
    }
    section.content .botâo a {
        background: url(img/45.jpg);
        background-color: blue;
        position: relative;
        padding: 10px;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 1px rgb(236, 232, 232);
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        margin-bottom: 10px;
        
    }
}

